################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Guacamole_Tools/Guacamole_Tools/bin
/Guacamole_Tools/Guacamole_Tools/obj
